user nginx;

worker_processes 3;

error_log /var/log/nginx/error.log debug;

events {
worker_connections 1024;
}

http {

include mime.types;
default_type application/octet-stream;
client_header_timeout 3m;
client_body_timeout 3m;
send_timeout 3m;
sendfile on;

upstream web {
    server {{upstream1}}:{{port1}};
    server {{upstream2}}:{{port2}};

}
server {
listen {{ port }};

location / {

proxy_pass http://web;
proxy_redirect off;
proxy_set_header Host $host;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
client_max_body_size 10m;
client_body_buffer_size 128k;
proxy_connect_timeout 90;
proxy_send_timeout 90;
proxy_read_timeout 90;
proxy_buffers 32 4k;
proxy_cache_bypass http;
}
}
}
